.header,
.footer {
    display: none;
}

.event {

    &__inner {
        padding: 0 em(20);

        @include desktop {
            @include boxFixed;
            max-width: 100%;
        }
    }

    @include tablet {
        display: none;
    }

    &__title__wrapper {
        @include flexbox($justify-content: space-between);
        margin: em(40) 0 em(20);
    }

    &__title {
        font-size: rem(24);

        @include tablet {
            display: none;
        }
    }

    &__list {
        display: flow-root;

        @include tablet {
            @include autoMargin;
        }
    }
}

.tab-list {
    @include flexbox;

    @include tablet {
        width: 100%;
        justify-content: space-between;
    }
}


.desktop-text {
    @include mobile {
        display: none;
    }
}

.event__details {
    border: 2px solid gold;
    margin-bottom: em(20);

    @include tablet {
        &:nth-child(odd) {
            float: left;
        }

        &:nth-child(even) {
            float: right;
        }
    }

    @include tablet {
        width: 49%;

        &:nth-child(2n + 2) {
            margin-left: em(10);
        }
    }

    &__link {
        @include flexbox(column, center)
    }

    &__hashtag {
        color: $secondaryLightBlue;
        font-size: rem(12);
        line-height: 1.5;
        margin-top: em(10);
    }

    &__title {
        order: 1;
        line-height: 1.5;
        font-weight: 400;
    }

    &__period {
        order: 2;
        font-size: rem(12);
        line-height: 1.5;
        margin-bottom: em(10);
        color: $grayscaleGray2;
    }
}